# Copyright 2022 Manna Harbour
# https://github.com/manna-harbour/miryoku

name: 'Build Settings Reset corne nice_nano'
on: workflow_dispatch
jobs:
  build:
    uses: ./.github/workflows/main.yml
    secrets: inherit
    with:
      board: '["nice_nano"]'
      shield: '["settings_reset"]'
